@*
    ViewData["Title"] = "Página Principal";
*@
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/EstiloIndex.css">
</head>
<body>
    <main class="main">
        <section class="conenedor1">
            <header class="cabecera">
                <div class="logo">
                    <img src="/imagenes/imagen.png" alt="Logo Empresa">
                </div>
                <nav class="navegacion">
                    <a href="@Url.Action("iniciosesion", "Home")#Login" class="link">Inicio Sesión</a>
                    <a href="@Url.Action("iniciosesion", "Home")#register" class="link">Registrarse</a>
                </nav>

            </header>
            <div class="banner">
                <div class="texto">
                    <h1>Explora, conoce y disfruta la cita perfecta </h1>
                    <p>Somos la empresa que se preocupa por tus necesidades.</p>
                    <a href="@Url.Action("iniciosesion", "Home")#register" class="link">REGISTRARSE</a>
                </div>
                <div class="logo2">
                    <img src="imagenes/citas.gif" alt="">
                </div>
            </div>
        </section>
    </main>

        <div class="container">
            &copy; 2023 - ProyectoWebCitas-Angie-Esteban
        </div>

</body>
</html>

