@*
    ViewData["Title"] = "Login Y registro";
*@
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/InicioSesion.css">
    <script src="https://kit.fontawesome.com/ce023cb24b.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="contenedor_todo">
            <div class="caja_trasera">
                <div class="caja_trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar</p>
                    <button id="btn_iniciarSesion">Iniciar Sesion</button>
                </div>
                <div class="caja_trasera-registro">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas ingresar</p>
                    <button id="btn_registrarse">Registrarse</button>
                </div>
            </div>
            <div class="contenedor_login-registro">
                <form action="" method="" class="formulario_login" id="Login">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" placeholder="Usuario" name="usuario">
                    <div class="container">
                        <input type="password" placeholder="Contraseña" name="contrasenia" id="contra">
                        <img src="/imagenes/ojo.png" alt="" class="icon" id="Eye">
                    </div>
                    <a href="@Url.Action("olvidocontraseña", "Home")">Olvidó su contraseña?</a>
                    <button id="bton_entrar">Entrar</button>
                </form>
                <form action="" method="" class="formulario_registro" id="register">
                    <h2>Registrarse</h2>

                    <div class="grid-container">
                        <!-- Nuevo contenedor para la distribución en grid -->
                        <input type="text" placeholder="Nombres" name="nombres" required>
                        <input type="text" placeholder="Apellidos" name="apellidos" required>
                        <input type="email" placeholder="Correo Electronico" name="correo">
                        <input type="text" placeholder="Telefono" name="Telefono" required>
                        <input type="password" placeholder="Contraseña" name="contrasenia" required>


                        <select id="genero" name="genero">
                            <option value="Genero">Genero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No binario">No binario</option>
                            <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                            <option value="Otro">Otro</option>
                        </select>

                        <select id="departamentos" name="departamento">
                            <option value="departamento">Departamento</option>
                            <option value="amazonas">Amazonas</option>
                            <option value="antioquia">Antioquia</option>
                            <option value="arauca">Arauca</option>
                            <option value="atlantico">Atlántico</option>
                            <option value="bolivar">Bolívar</option>
                            <option value="boyaca">Boyacá</option>
                            <option value="caldas">Caldas</option>
                            <option value="caqueta">Caquetá</option>
                            <option value="casanare">Casanare</option>
                            <option value="cauca">Cauca</option>
                            <option value="cesar">Cesar</option>
                            <option value="choco">Chocó</option>
                            <option value="cordoba">Córdoba</option>
                            <option value="cundinamarca">Cundinamarca</option>
                            <option value="guainia">Guainía</option>
                            <option value="guaviare">Guaviare</option>
                            <option value="huila">Huila</option>
                            <option value="la-guajira">La Guajira</option>
                            <option value="magdalena">Magdalena</option>
                            <option value="meta">Meta</option>
                            <option value="narino">Nariño</option>
                            <option value="norte-de-santander">Norte de Santander</option>
                            <option value="putumayo">Putumayo</option>
                            <option value="quindio">Quindío</option>
                            <option value="risaralda">Risaralda</option>
                            <option value="san-andres-y-providencia">San Andrés y Providencia</option>
                            <option value="santander">Santander</option>
                            <option value="sucre">Sucre</option>
                            <option value="tolima">Tolima</option>
                            <option value="valle-del-cauca">Valle del Cauca</option>
                            <option value="vaupes">Vaupés</option>
                            <option value="vichada">Vichada</option>
                        </select>

                        <select id="municipios" name="municipio">
                            <option value="departamento">Municipio</option>
                        </select>

                        <select id="TipoDocumento" name="TipoDocumento">
                            <option value="Tipo Documento">Tipo Documento</option>
                            <option value="Cedula">Cédula</option>
                            <option value="Passaporte">Passaporte</option>
                            <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                        </select>

                        <input type="number" placeholder="Digite el Numero" name="numero" required>
                    </div>
                    <button class="boton-registrar">Registrarse</button>
                </form>
            </div>
        </div>
        <div class="volver">
            <a href="@Url.Action("Index", "Home")">Volver a Inicio<i class="fa-solid fa-house" id="icon"></i></a>

        </div>
    </main>
    <script src="/js/DepartaMuni.js"></script>
    <script src="/js/scrip.js"></script>
    <script src="/js/verContraseña.js"></script>

</body>
</html>

